#search-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  align-items: center;
  text-align: center;
  width: 100%;
}

#search-box {
  gap: 1em;
  max-width: 100%;
}

#search-area {
  flex: 1 1 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
  padding: 0.2em;
  border: 1px black solid;
  border-radius: 0.8em;
  min-width: 8em;
  max-width: 15em;
  box-shadow: 2px 2px 4px black;

  label{
    display: flex;
    align-items: center;
  }

  svg {
    height: 1.2em;
  }

  input {
    width: 85%;
  }
}

#search-submit-btn:disabled {
  filter: opacity(50%) grayscale(50%);
}
