#ingredients-drop-down {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ingredient-show-btn {
  width: 80%;
  padding: 0.5em;
  background-color: var(--bg-color-secondary);
  color: var(--text-color-secondary);
  border-radius: 0.8em;
  padding: 0.4em;
  box-shadow: 2px 2px 4px black;
}

#ingredients {
  margin-top: 2em;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  width: 90%;
  gap: 1rem;
}

.ingredient {
  padding: 0.5em;
  text-indent: 0.5em;
  border: black 1px solid;
  box-shadow: 1px 1px 4px;
  border-radius: 0.5em;
}
