:root {
  --bg-color-primary: #e3e7f0;
  --bg-color-secondary: #4a8ad3;
  --bg-color-secondary-lighter: #7fa6d3;
  --bg-color-content: white;

  --text-color-primary: black;
  --text-color-primary-lighter: grey;
  --text-color-secondary: white;

  --main-container-max-width: 1800px;
  --main-container-min-width: 320px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
}

#main-container {
  max-width: var(--main-container-max-width);
  min-width: var(--main-container-min-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

input:focus,
button:focus {
  outline: none;
}

svg {
  height: 1.5em;
}
