@import "bootstrap";
@import "./global-var.scss";

:root {
  --bg-color-primary: #e3e7f0;
  --bg-color-secondary-lighter: #7fa6d3;
  --bg-color-content: white;

  --text-color-primary: black;
  --text-color-primary-lighter: grey;
  --text-color-secondary: white;

  --text-color-warning: rgb(219, 80, 80);
  --text-color-ok: rgb(96, 180, 75);
  --text-color-info: rgb(30, 28, 138);

}




* {
  box-sizing: border-box;
}

body {
  display: flex;
  max-width: $main-container-max-width;
  min-width: $main-container-min-width;
  margin: 0 auto;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color-primary;
  width: 100%;
}

main {
  display: none;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: inherit;
}


.btn-custom{
  @extend .btn;
  @extend .btn-primary;
  @extend .rounded;
}



input:focus,
button:focus {
  outline: none;
}

svg {
  height: 1.5em;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}
