@import "bootstrap";
@import "./global-var.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  max-width: $main-container-max-width;
  min-width: $main-container-min-width;
  margin: 0 auto;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color-primary;
  width: 100%;
}

main {
  display: none;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}


input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: inherit;
}


.btn-custom{
  @extend .btn;
  @extend .btn-primary;
  @extend .rounded;
}

.flex-line-v-h-center{
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .gap-4
}



input:focus,
button:focus {
  outline: none;
}

svg {
  height: 1.5em;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}
